.neighbour {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  width: fit-content;
}

.flag {
  background-color: var(--color-background-primary);
  width: 80px;
  height: 53px;
  border-radius: 4px;
}

.name {
  height: .7rem;
  border-radius: 10px;
  background: var(--color-background-primary);
}

